{{if .Page.Site.Params.lightgallery }}
<!-- lightgallery -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.min.js"></script>

<!-- Initialize -->
<script>
window.addEventListener('load', function() {
    // 获取当前文章的图片
    const articles = document.querySelectorAll('.post-single');
    articles.forEach(function(article) {
        const images = article.querySelectorAll('.post-content img');
        if (images.length > 0) {
            // 为每个图片添加父元素和data属性
            images.forEach(function(img) {
                const container = document.createElement('a');
                container.href = img.src;
                container.setAttribute('data-src', img.src);
                img.parentNode.insertBefore(container, img);
                container.appendChild(img);
            });
            
            // 初始化 lightGallery
            lightGallery(article.querySelector('.post-content'), {
                selector: 'a',
                controls: false,
                thumbnail: false,
                escKey: true,
                hideScrollbar: true,
                counter: false
            });
        }
    });
});
</script>
{{ end }}

{{- if or (.Page.Store.Get "hasMermaid") .Page.Site.Params.mermaid }}
<script src="/assets/js/mermaid.min.js"></script>
<script>
    window.addEventListener('load', function() {
        // 初始化 mermaid
        // const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
        // const initialTheme = darkModeMediaQuery.matches ? 'dark' : 'default';
        // console.log(initialTheme);
        mermaid.initialize({
            startOnLoad: true,
            securityLevel: 'loose',
            theme: 'forest',
        });

        // 查找并转换 mermaid 代码块
        const codeBlocks = document.querySelectorAll('pre > code');
        codeBlocks.forEach(function(codeBlock) {
            // 检查是否是 mermaid 代码块
            if (codeBlock.className.includes('language-mermaid') || 
                codeBlock.parentElement.className.includes('language-mermaid')) {
                try {
                    // 创建新的 mermaid div
                    const mermaidDiv = document.createElement('div');
                    mermaidDiv.className = 'mermaid';
                    mermaidDiv.innerHTML = codeBlock.textContent;
                    
                    // 替换原有的 pre 元素
                    const preElement = codeBlock.parentElement;
                    preElement.parentElement.replaceChild(mermaidDiv, preElement);
                    
                    // 尝试渲染图表
                    mermaid.init(undefined, mermaidDiv);
                } catch (error) {
                    console.error('Mermaid conversion error:', error);
                }
            }
        });
    });
</script>
<style>
    .mermaid {
        text-align: center;
        margin: 1em 0;
    }
    .mermaid svg {
        display: block;
        margin: auto;
        max-width: 100%;
    }
</style>
{{- end }}

<style>
.feather {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    margin-right: 0.3em;
    stroke: currentColor;
}
</style>