{{if .Page.Site.Params.lightgallery }}
<!-- lightgallery -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.min.js"></script>

<!-- Initialize -->
<script>
window.addEventListener('load', function() {
    // 获取当前文章的图片
    const articles = document.querySelectorAll('.post-single');
    articles.forEach(function(article) {
        const images = article.querySelectorAll('.post-content img');
        if (images.length > 0) {
            // 为每个图片添加父元素和data属性
            images.forEach(function(img) {
                const container = document.createElement('a');
                container.href = img.src;
                container.setAttribute('data-src', img.src);
                img.parentNode.insertBefore(container, img);
                container.appendChild(img);
            });
            
            // 初始化 lightGallery
            lightGallery(article.querySelector('.post-content'), {
                selector: 'a',
                controls: false,
                thumbnail: false,
                escKey: true,
                hideScrollbar: true,
                counter: false
            });
        }
    });
});
</script>
{{ end }}

<!-- 使用cdn加载文件 -->
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
// 自定义mermaid配置
const config = {
    startOnLoad: true,
    theme: 'dark',
    themeVariables: {
        lineColor: '#6c7a89',
        fontSize: '16px'
    },
    flowchart: {
        useMaxWidth: false,
        htmlLabels: true,
        curve: 'basis'
    }
};
mermaid.initialize(config);
// 需要注意的是，要将初始化代码放到 window.onload 回调函数里面才有用
// 否则会因为在html元素加载前进行初始化，找不到元素而失效
window.onload = () => {
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
}
</script>

<style>
.feather {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    margin-right: 0.3em;
    stroke: currentColor;
}
</style>